<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Legistify</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet">
  </head>
  <body>

    <!-- Navbar for the Project-->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
      <a class="navbar-brand" href="/">Legistify</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav navbar-right">
			{% if request.session.type %}
				{% if request.session.type == 'user'%}
					<li><a href="/userdashboard">Dashboard</a></li>
				{% elif request.session.type == 'lawyer'%}
					<li><a href="/lawyerdashboard">Dashboard</a></li>
				{% endif %}
    			<li><a href="/logout_view">Logout</a></li>
			{% else %}
			  <li><a href="/signupuser">User</a></li>
			  <li><a href="/signuplawyer">Lawyer</a></li>
			  <li><a href="/login">Login</a></li>
			{% endif %}
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="container-fluid">
		<div class="col-md-1">
		</div>
		<div class="col-md-10" id="list-data">
			<div class="col-sm-offset-2 col-sm-8">
				<div class="alert alert-info">
					Enter the details to register as a Lawyer.
				</div>
			</div>
      {% if error %}
        <div class="col-sm-offset-2 col-sm-8">
          <div class="alert alert-danger">
            {{error_message}}
          </div>
        </div>
      {% endif %}
			<div class="container-fluid">
				<div class="col-sm-offset-2 col-sm-8 well">
					<form class="form-horizontal" method="Post" action="/signuplawyer/">{% csrf_token %}
					  <div class="form-group">
						<label for="uname" class="col-sm-4 control-label">Username</label>
						<div class="col-sm-6">
						  <input type="text" class="form-control" name="uname" placeholder="Enter your username" required>
						</div>
					  </div>
            <div class="form-group">
						<label for="fname" class="col-sm-4 control-label">Full Name</label>
						<div class="col-sm-6">
						  <input type="text" class="form-control" name="fname" placeholder="Enter your full name" required>
						</div>
					  </div>
					  <div class="form-group">
						<label for="email" class="col-sm-4 control-label">Email</label>
						<div class="col-sm-6">
						  <input type="email" class="form-control" name="email" placeholder="Enter your email" required>
						</div>
					  </div>
					  <div class="form-group">
						<label for="age" class="col-sm-4 control-label">Age</label>
						<div class="col-sm-6">
						  <input type="number" class="form-control" name="age" placeholder="Enter your age" required>
						</div>
					  </div>
					  <div class="form-group">
						<label for="gen" class="col-sm-4 control-label">Gender</label>
						<div class="col-sm-6">
							<div class="col-sm-6">
								<label class="radio-inline">
								  <input type="radio" name="gen" value="M" checked="checked"> Male
								</label>
							</div>
							<div class="col-sm-6">
								<label class="radio-inline">
								  <input type="radio" name="gen" value="F"> Female
								</label>
							</div>
						</div>
					  </div>
					  <div class="form-group">
						<label for="speciality" class="col-sm-4 control-label">Speciality</label>
						<div class="col-sm-6">
							<textarea class="form-control" name="speciality" placeholder="Enter your speciality" rows="3" required></textarea>
						</div>
					  </div>
					  <div class="form-group">
						<label for="experience" class="col-sm-4 control-label">Experience</label>
						<div class="col-sm-6">
						  <input type="number" class="form-control" name="experience" placeholder="Enter your experience in years" required>
						</div>
					  </div>
					  <div class="form-group">
						<label for="pno" class="col-sm-4 control-label">Phone number</label>
						<div class="col-sm-6">
						  <input type="number" class="form-control" name="pno" placeholder="Enter your phone number" required>
						</div>
					  </div>
					  <div class="form-group">
						<label for="pword" class="col-sm-4 control-label">Password</label>
						<div class="col-sm-6">
						  <input type="password" class="form-control" name="pword" placeholder="Enter your password" required>
						</div>
					  </div>
					  <div class="form-group">
						<label for="cpword" class="col-sm-4 control-label">Confirm Password</label>
						<div class="col-sm-6">
						  <input type="password" class="form-control" name="cpword" placeholder="Enter your password again" required>
						</div>
					  </div>
					  <div class="form-group">
						<div class="col-sm-offset-4 col-sm-10">
						  <button type="submit" class="btn btn-info col-sm-3">Register</button>
						  <button type="reset" class="btn btn-warning col-sm-offset-1 col-sm-3">Reset</button>
						</div>
					  </div>
					</form>
				</div>
			</div>
		</div>
	</div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
